p, h2 {
    /* Just for Debugging */
    /* border: solid #A1C298; */
    padding: 20px;
    background-color: #D9EAD3; /* light mint */
    margin: auto;
}

body {
    background-color: #B7CADB; /* light pastel blue */
    /* Just for Debugging */
    /* border: solid #8EAFBF; */
    padding: 20px;
}

div {
    /* Just for Debugging */
    /* border: solid #44606f; */
    padding: 10px;
    background-color: #A3C9D9; /* soft blue-gray */
}

hr {
    border: 12px dotted #44606f; /* darker blue-gray */
    background-color: #A3C9D9;
    border-bottom: 0px;
    width: 12%;
    margin: 15px auto 5px;
}

/* Predict Page body */
.Result_Pred_Page {
    background-color: #A3C9D9;
}

/* CSS for the Forms */
form {
    width: 80%;
    /* Just for Debugging */
    /* border: solid #769FAB; */
    padding: 20px;
    line-height: 26px;
    margin: auto;
}

input[type=number] {
    width: 100%;
    padding: 16px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #D3E1E6; /* light gray-blue */
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
    border-bottom: 2px solid #D3E1E6;
}

.footer {
    text-align: center;
}
