p, h2 {
    padding: 20px;
    background-color: #D9EAD3; 
    margin: auto;
}

body {
    background-color: #44606f; 
    padding: 20px;
}

div {
    padding: 10px;
    background-color: #A3C9D9; 
}

hr {
    border: 12px dotted #44606f; 
    background-color: #A3C9D9;
    border-bottom: 0px;
    width: 12%;
    margin: 15px auto 5px;
}

.Result_Pred_Page {
    background-color: #A3C9D9;
}

form {
    width: 80%;
    padding: 20px;
    line-height: 26px;
    margin: auto;
}

input[type=number] {
    width: 100%;
    padding: 16px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #D3E1E6;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
    border-bottom: 2px solid #D3E1E6;
}

.footer {
    text-align: center;
}
